<!DOCTYPE html>
<html>
<head>
    <title>Facial Recognition Attendance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Facial Recognition Attendance</h1>
        <ul class="menu">
            <li><a href="{{ url_for('add_name') }}">Add Name</a></li>
            <li><a href="{{ url_for('mark_attendance') }}">Mark Attendance</a></li>
            <li><a href="{{ url_for('see_attendance') }}">See Attendance</a></li>
        </ul>
    </div>
</body>
</html>
